altair      
appdirs      
attrs       
beautifulsoup4        
blinker      
cachetools      
certifi           
charset-normalizer      
click      
colorama      
decorator      
duckdb       
factor_analyzer      
frozendict      
gitdb       
GitPython       
google-auth       
google-auth-oauthlib      
greenlet      
gspread       
gspread-dataframe      
gspread-formatting      
gspread-pandas      
html5lib    
idna    
importlib-metadata      
investpy      
Jinja2       
joblib      
jsonschema       
jsonschema-specifications          
lxml      
markdown-it-py      
MarkupSafe      
mdurl      
multitasking       
numpy       
oauthlib      
packaging     
pandas
pandas-datareader       
peewee       
pillow       
plotly       
protobuf       
psycopg2-binary      
pyarrow       
pyasn1       
pyasn1-modules      
pydeck      
Pygments       
python-dateutil      
pytz        
referencing       
requests       
requests-oauthlib      
rich       
rpds-py       
rsa    
scikit-learn      
scipy       
six       
smmap      
soupsieve    
sql_metadata       
SQLAlchemy       
sqlparse      
st-gsheets-connection      
streamlit       
tenacity      
threadpoolctl      
toml       
toolz       
tornado    
tradingview-screener
git+https://github.com/rongardF/tvdatafeed.git
typing_extensions      
tzdata       
tzlocal    
Unidecode      
urllib3      
validators       
watchdog      
webencodings      
yfinance       
zipp       
